@charset "utf8";

.paddingCont(@spaceCont: 0 15px) {
    padding: @spaceCont;
}

.marginCont(@spaceCont: 0 15px) {
    margin: @spaceCont;
}

.border_radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.admin-home {
    display: flex;
    height: 100%;

    &-sidebar {
        flex-basis: 200px;
        height: 100%;
        background: #fff;

        &-head {
            display: flex;
            height: 60px;
            color: #fff;
            background: #108ee9;
            align-items: center;
            justify-content: center;
        }

    }

    &-article {
        flex: 1;
        //overflow: hidden;

        &-head {
            display: flex;
            .paddingCont(0 30px);
            height: 60px;
            justify-content: flex-end;
            box-shadow: #ccc -5px -5px 0 -5px;

            &-photo {
                display: flex;
                flex-basis: 70px;
                align-items: center;
                justify-content: center;

                &-box {
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }

                & img {
                    display: block;
                    width: 100%;
                    .border_radius(20px)
                }
            }

            &-user {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-body {
            height: 100%;
            overflow-y: auto;
            background: #f0f2f5;
        }
    }

}

.admin-menu {
    &-box {
        .paddingCont();
        border-bottom: 1px solid #e5e5e5;

        &-title {
            line-height: 42px;
        }

        &-class {
            border-bottom: 1px #ccc dashed;
        }
    }

}

.admin-index {
    &-count {
        display: flex;
        .marginCont(15px);

        & li {
            flex: 1;
            margin-right: 15px;
            border: 1px solid rgba(255, 255, 255, .6);
            color: #fff;
            .border_radius();

            & h4 {
                .paddingCont(5px 15px);
                font-size: 16px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &-num {
            .paddingCont(15px);
            text-align: center;

            & span {
                font-size: 26px;
            }
        }
    }
}