@charset "utf8";

.paddingCont(@spaceCont: 0 15px) {
    padding: @spaceCont;
}

.marginCont(@spaceCont: 0 15px) {
    margin: @spaceCont;
}

.border_radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.invest {
    .marginCont();

    &-search {
        .marginCont(0 0 15px 0);
        .paddingCont(15px);
        background: #fff;
        .border_radius();

        &-box {
            display: flex;
            .marginCont(0 0 15px 0);

            &-fields {
                flex: 1;
            }

            &:last-child {
                .marginCont(0 0 0 0);
            }

            &-btns {
                & button {
                    .marginCont(0 15px 0 0);
                }
            }
        }
    }

    &-flow {
        &-page {
            display: flex;
            .paddingCont(15px);
            justify-content: center;
        }

        
        
    }
}

.investment_flow_financial{
    display: flex;
    margin-bottom: 15px;
    padding: 10px 15px 10px 0;
    background: #fff;
    .border_radius(5px);
    & div{
        flex: 1;
        padding-left: 15px;
        border-right: 1px solid #eee;
        text-align: center;
        
        &:last-child {
            border-right: none;
        }

        & p {
            font-size: 22px;
        }
    }
}